{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Bienvenue à notre formation Symfony Avancé</h1>

    <ul>
        <li>
            <s>Webpack Encore</s>
        </li>
        <li><s>Composant Cache</s></li>
        <li>Evénements</li>
        <li>Composant Mailer</li>
        <li>Formulaire</li>
        <ul>
            <li>Custom</li>
            <li>Event</li>
            <li>DataTransformer</li>
            <li>DataMapper</li>
            <li>FormGuesser</li>
        </ul>
        <li>Composant Console Commands</li>
        <li>Messenger</li>
        <li>Tests</li>
        <li>API REST</li>
        <ul>
            <li>Serializer</li>
            <li>API Platform</li>
        </ul>
    </ul>

{% endblock %}
