{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Bienvenue à notre formation Symfony Avancé</h1>

    <ul>
        <li>
            <s>Webpack Encore</s>
        </li>
        <li><s>Composant Cache</s></li>
        <li><s>Evénements</s></li>
        <li><s>Composant Mailer</s></li>
        <li><s>Formulaire</s></li>
        <ul>
            <li><s>Custom</s></li>
            <li><s>Event</s></li>
            <li><s>DataTransformer</s></li>
            <li><s>DataMapper</s></li>
            <li><s>FormGuesser</s></li>
        </ul>
        <li><s>Messenger</s></li>
        <li><s>Composant Console Commands</s></li>
        <li>Tests</li>
        <li>API REST</li>
        <ul>
            <li>Serializer</li>
            <li>API Platform</li>
        </ul>
    </ul>

{% endblock %}
