{% extends 'base.html.twig' %}

{% block title %}Composant Mailer{% endblock %}

{% block body %}

    <h1>Composant Mailer</h1>

    <div class="alert alert-success">Votre email a bien été envoyé</div>

    <p>Attention: cette page envoie un mail automatiquement</p>
{% endblock %}
